<div id="WeChat">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                    官方公众号
            </h3>
        </div>
        <div id="qrcode" class="padding10 list-group collapse in">
            搜索微信公众号"秀色驿站"或扫描下方二维码直接关注，更多美图和更新提醒，还有美女小冰任你调戏
			<img style="max-width:100%" src="http://7xpgaf.com1.z0.glb.clouddn.com/qrcode.jpg" alt="微信公众号：【秀色驿站】二维码" />
        </div>
    </div>
</div>